.btn {
  display: block;
  position: absolute;
  width: 200px;
  height: 80px;
  left: 0;
  right: 0;
  margin: auto;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  border-radius: 7px;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 80px;
  background-color: #C5DAFA;
  cursor: pointer;
  backface-visibility: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.5s ease, line-height 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-front:hover {
  background-color: #B4CFF8;
}

.btn-back {
  position: absolute;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  background-color: #C5DAFA;
  color: #1f2839;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
  cursor: default;
}

.go-back-image {
  width: 17px;
  height: 17px;
  display: inline;
  text-align: center;
  margin:auto;
}

.btn-back button.yes {
  background-color: rgba(0, 0, 0, 0);
  width: 17px;
  height: 17px;
  border: none;
}

.btn-back p {
  padding: 27px;
  margin-bottom: 0;
}

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: 500px;
  height: 200px;
}

.btn.is-open .btn-front {
  /* pointer-events: none; */
  line-height: 160px;
}

.btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4)!important;
}

.btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

.btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

.btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

.btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}

@media only screen and (max-width: 600px) {
  .btn.is-open {
    width: 300px;
    height: 200px;
  }

  .btn-back p {
    font-size: 0.9rem;
  }
}
