.btn {
  display: block;
  position: relative;
  width: 200px;
  height: 80px;
  margin:auto;
  margin-top: 8%;
  margin-bottom: 8%;
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  text-align: center;
}

.btn-front {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
  line-height: 80px;
  background-color: #1f2839;
  color: #ACBCE8;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.5s ease, line-height 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-front:hover {
  background-color: #8BA3D6;
}

.btn-back {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
  background-color: #8BA3D6;
  color: #1f2839;
  transform: translateZ(-2px) rotateX(180deg);
  overflow: hidden;
  transition: box-shadow 0.8s ease;
}

.btn-back p {
  margin: 27px;
}

.btn[data-direction="left"] .btn-back,
.btn[data-direction="right"] .btn-back {
  transform: translateZ(-2px) rotateY(180deg);
}

.btn.is-open {
  width: 400px;
  height: 160px;
}

.btn.is-open .btn-front {
  pointer-events: none;
  line-height: 160px;
}

.btn.is-open .btn-back {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.btn[data-direction="top"].is-open {
  transform: rotateX(180deg);
}

.btn[data-direction="right"].is-open {
  transform: rotateY(180deg);
}

.btn[data-direction="bottom"].is-open {
  transform: rotateX(-180deg);
}

.btn[data-direction="left"].is-open {
  transform: rotateY(-180deg);
}
