.navbar {
  background: rgba(0, 0, 0, 0.03);
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  top: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  text-align: center;
}

.navbar-brand {
  font-size: 1em;
  padding-right: 13px;
  color: #C5DAFA;
}

.navbar-brand:hover {
  color: #C5DAFA;
  cursor: default;
}

.navbar-brand.abs {
  position: absolute;
  top: 0;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.stuck {
  position: absolute;
  top: 400px;
}
