body {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  height: 100%;
  background-color: #9bafd9;
  color: #1f2839;
  width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: bold;
}

h2 {
  margin: 8% 0% 3% 0%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

p {
  font-family: 'Courier Prime', monospace;
}

canvas {
  cursor: pointer;
}

.headshot {
  margin-top: 20%;
  border-radius: 50%;
  width: 80%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden, .hidden2 {
  display: none;
}

.faded {
  opacity: 0;
}

.splash-wrapper {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.splash-content, .splash-text, .links {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.skills-text {
  margin-bottom:10%;
}

.footer {
  position: sticky;
  margin: auto;
  margin-top: 12%;
  text-align: center;
  width: 100%;
  height: 20px;
  background: rgba(0, 0, 0, 0);
}
